/* start variables */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --secondary-color: #ececec;
  --section-padding: 100px;
  --main-transition: 0.3s;
}
/* end variables */

/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */

/* start compontents */
/* special-heading */
.special-heading {
  position: relative;
  width: fit-content;
  margin: auto;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  border: 2px solid black;
  color: black;
  text-transform: uppercase;
  transition: var(--main-transition);
  transition-delay: 0.5s;
  z-index: 1;
}

.special-heading:hover {
  color: white;
  border: 2px solid transparent;
}

.special-heading::before,
.special-heading::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
}
.special-heading::before {
  left: -30px;
  animation: heading-before-up 0.5s linear forwards;
}
.special-heading::after {
  right: -30px;
  animation: heading-after-up 0.5s linear forwards;
}

.special-heading:hover::before {
  z-index: -1;
  animation: heading-before-hover 0.5s linear forwards;
}

.special-heading:hover::after {
  z-index: -1;
  animation: heading-after-hover 0.5s linear forwards;
}

@keyframes heading-before-hover {
  0% {
    left: -30px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
  }
  50% {
    left: 0;
  }
  100% {
    left: 0;
    width: 51%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes heading-after-hover {
  0% {
    right: -30px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
  }
  50% {
    right: 0;
  }
  100% {
    right: 0;
    width: 51%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes heading-before-up {
  0% {
    left: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
  50% {
    left: 0;
  }
  100% {
    left: -30px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}
@keyframes heading-after-up {
  0% {
    right: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
  50% {
    right: 0;
  }
  100% {
    right: -30px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}
/* end special-heading */

/* start spikes */
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
/* end spikes */

/* end components */

/* start header section */
.header {
  box-shadow: 0 0 10px #ddd;
  background-color: white;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header .logo {
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  height: 72px;
  display: flex;
  align-items: center;
}

.header .container > .links {
  display: flex;
  margin: 0;
}

.header .container > .links > li:hover .mega {
  z-index: 5;
  opacity: 1;
  top: calc(100% + 1px);
}

.header .container > .links > li > a {
  position: relative;
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 0 30px;
  height: 72px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--main-transition);
  overflow: hidden;
}

.header .container > .links > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}

.header .container > .links > li:hover a {
  color: var(--main-color);
  background-color: #fafafa;
}

.header .container > .links > li:hover a::before {
  left: 0;
}

@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    justify-content: center;
    height: 50px;
  }

  .header .container > .links {
    margin: 0 auto;
    justify-content: center;
    padding: 0;
  }

  .header .container > .links > li > a {
    height: 40px;
    padding: 10px;
    font-size: 14px;
  }
}

/* mega menu */
.header .mega {
  position: absolute;
  left: 0;
  top: calc(100% + 50px);
  opacity: 0;
  width: 100%;
  background-color: white;
  z-index: -2;
  padding: 30px;
  border-bottom: 3px solid var(--main-color);
  transition: top var(--main-transition), opacity var(--main-transition);
  display: flex;
  justify-content: space-between;
}

.header .mega .image img {
  max-width: 100%;
}

.header .mega .links {
  margin: 0 0 0 40px;
  padding: 0;
  min-width: 250px;
  flex: 1;
}

.header .mega .links li a {
  display: inline-block;
  padding: 15px;
  width: 100%;
  color: var(--main-color);
  font-weight: bold;
  text-decoration: none;
}

.header .mega .links li:not(:last-child) a {
  border-bottom: 1px solid #e9e6e6;
}

.header .mega .links li a i {
  display: inline-block;
  margin-right: 10px;
}

@media (max-width: 992px) {
  .header .mega .image {
    display: none;
  }
  .header .mega .links:first-of-type {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .header .mega {
    padding: 5px;
    flex-direction: column;
  }
  .header .mega .links {
    width: 100%;
    margin: 0;
    font-size: 18px;
  }
  .header .mega .links:first-of-type li:last-child a {
    border-bottom: 1px solid #e9e6e6;
  }
}
/* end mega menu */
/* end header section */

/* start hero section */
.hero {
  position: relative;
  height: calc(100vh - 72px);
}

.hero::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.hero .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;
}

.hero .text {
  width: 45%;
}

.hero .text h3 {
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -3px;
  margin-bottom: 10px;
}

.hero .text p {
  margin-top: 10px;
  font-size: 22px;
  line-height: 1.8;
  color: #666666;
}

.hero .image {
  width: 53%;
}

.hero .image img {
  position: relative;
  width: 100%;
  animation: hero-image 5s linear infinite both;
}

@keyframes hero-image {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}

.hero .arrow {
  color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  animation: arrow 1.5s linear infinite both;
}

@keyframes arrow {
  0%,
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 992px) {
  .hero .container {
    justify-content: center;
    text-align: center;
  }
  .hero .text {
    max-width: 500px;
    width: 100%;
    padding: 0 15px;
  }
  .hero .image {
    display: none;
  }
}

@media (max-width: 767px) {
  .hero .text h3 {
    font-size: 28px;
  }
  .hero .text p {
    font-size: 18px;
  }
}
/* end hero section */

/* start articles section */
.articles {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.articles .container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.articles .article {
  border-radius: 7px;
  overflow: hidden;
  transition: var(--main-transition);
}

.articles .article:hover {
  transform: translateY(-10px);
  box-shadow: 5px 5px 10px #ddd, -5px -5px 10px #ddd;
}

.articles .article .image img {
  width: 100%;
}

.articles .article .text {
  padding: 0 20px;
}

.articles .article .text h4 {
  font-size: 18px;
  margin-bottom: 0;
}

.articles .article .text p {
  margin-top: 10px;
  color: #878787;
  line-height: 1.6;
}

.articles .article .more {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e6e6e7;
}

.articles .article .more a {
  text-decoration: none;
  color: var(--main-color-alt);
  font-weight: bold;
}

.articles .article .more i {
  color: var(--main-color);
}

.articles .article:hover .more i {
  animation: more 0.5s linear infinite;
}

@keyframes more {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
/* end articles section */

/* start gallery section */
.gallery {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--secondary-color);
}

.gallery .container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.gallery .box {
  background-color: white;
  padding: 15px;
  box-shadow: 5px 5px 10px #ddd, -5px -5px 10px #ddd;
}

.gallery .box .image {
  position: relative;
  overflow: hidden;
}

.gallery .box .image img {
  width: 100%;
  transition: var(--main-transition);
}

.gallery .box .image:hover img {
  transform: scale(1.1) rotate(5deg);
}

.gallery .box .image::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 0;
  height: 0;
  background-color: white;
  opacity: 0.4;
  z-index: 2;
}

.gallery .box .image:hover::before {
  animation: overlay-spot 0.5s linear;
}

@keyframes overlay-spot {
  0% {
    width: 0;
    height: 0;
    opacity: 0.4;
  }
  50% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
/* end gallery section */

/* start features section */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.features .container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.features .box {
  border: 1px solid #cccccc;
  padding-bottom: 30px;
  text-align: center;
}

.features .box .image {
  position: relative;
  overflow: hidden;
}

.features .box .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.features .box.quality .image::before {
  background-color: #f44036;
  opacity: 0.6;
}

.features .box.time .image::before {
  background-color: #009688;
  opacity: 0.6;
}

.features .box.passion .image::before {
  background-color: #03a9f4;
  opacity: 0.6;
}

.features .box .image::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 700px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}

.features .box:hover .image::after {
  border-width: 170px 700px 170px 0;
}

.features .box .image img {
  width: 100%;
}

.features .box .text {
  padding: 0 30px 30px;
}

.features .box .text h4 {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0 20px 20px;
  font-size: 40px;
  font-weight: bold;
  position: relative;
}

.features .box .text h4::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  width: 100px;
}

.features .box.quality .text h4::before {
  background-color: #f44036;
}
.features .box.time .text h4::before {
  background-color: #009688;
}
.features .box.passion .text h4::before {
  background-color: #03a9f4;
}

.features .box .text p {
  margin-top: 0;
  color: #958077;
  line-height: 2;
  font-size: 20px;
}

.features .box .more {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 3px;
  transition: var(--main-transition);
}

.features .box.quality .more {
  color: #f44036;
  border: 3px solid #f44036;
}
.features .box.time .more {
  color: #009688;
  border: 3px solid #009688;
}
.features .box.passion .more {
  color: #03a9f4;
  border: 3px solid #03a9f4;
}

.features .box:hover .more {
  color: white;
}

.features .box .more::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: var(--main-transition);
}

.features .box.quality .more::before {
  background-color: #f44036;
}
.features .box.time .more::before {
  background-color: #009688;
}
.features .box.passion .more::before {
  background-color: #03a9f4;
}

.features .box:hover .more::before {
  width: 100%;
}
/* end features section */

/* start testimonials section */
.testimonials {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--secondary-color);
}

.testimonials .container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.testimonials .box {
  position: relative;
  background-color: white;
  box-shadow: 3px 3px 10px #ddd, -3px -3px 10px #ddd;
  padding: 20px;
}

.testimonials .box .image {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  right: -10px;
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  z-index: 2;
}
.testimonials .box .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.testimonials .box .name {
  font-size: 20px;
  margin: 0;
}
.testimonials .box .job {
  margin: 10px 0;
  color: #8d7789;
}

.testimonials .box .description {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #848684;
}

.testimonials .box .rate i.filled {
  color: #ffc107;
}
/* end testimonials section */

/* start team members section */
.team {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.team .container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.team .box {
  position: relative;
}

.team .box::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #777777;
  opacity: 0.25;
  border-radius: 10px;
  z-index: -2;
  transition: var(--main-transition);
}

.team .box:hover::before {
  width: calc(100% - 60px);
}

.team .box .data {
  margin-top: 70px;
  display: flex;
}

.team .box .data .image {
  width: 100%;
}

.team .box .data .image img {
  width: 100%;
  border-radius: 10px;
  transition: var(--main-transition);
}

.team .box:hover .data .image img {
  filter: grayscale();
}

.team .box .data .icons {
  padding: 50px 0;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team .box .data .icons a i {
  color: #777777;
}

.team .box .data .icons a:hover i {
  color: var(--main-color);
}

.team .box .data .icons a:not(:last-child) {
  margin-bottom: 30px;
}

.team .box .info {
  margin-left: 80px;
}

.team .box .info h4 {
  color: var(--main-color);
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 15px;
  transition: var(--main-transition);
}

.team .box:hover .info h4 {
  color: #777777;
}

.team .box .info p {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* end team members section */

/* start services section */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--secondary-color);
}

.services .container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.services .box {
  position: relative;
  padding: 0;
  background-color: white;
  box-shadow: 5px 5px 10px #ddd, -5px -5px 10px #ddd;
  transition: var(--main-transition);
}

.services .box:hover {
  transform: translateY(-10px);
}

.services .box::before {
  content: "";
  position: absolute;
  top: -3px;
  right: 50%;
  height: 3px;
  width: 0;
  background-color: var(--main-color);
  transition: var(--main-transition);
}

.services .box::after {
  content: "";
  position: absolute;
  top: -3px;
  left: 50%;
  height: 3px;
  width: 0;
  background-color: var(--main-color);
  transition: var(--main-transition);
}

.services .box:hover::before,
.services .box:hover::after {
  width: 50%;
}

.services .box .content {
  padding: 30px 0 40px 0;
  text-align: center;
}

.services .box .content i {
  color: #d5d5d5;
}

.services .box .content h4 {
  margin-top: 20px;
  margin-bottom: 0;
  color: var(--main-color);
  font-size: 25px;
  font-weight: 800;
}

.services .box .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.services .box .foot .count {
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;
  font-size: 30px;
  font-weight: bold;
  height: 50px;
  padding-left: 25px;
  padding-right: 10px;
  background-color: var(--main-color);
  color: white;
  z-index: 5;
}

.services .box .foot .count::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
  transform-origin: left bottom;
  transform: skewX(-30deg);
}

.services .box .foot .count::after {
  content: "";
  position: absolute;
  right: -75%;
  top: 0;
  width: 75%;
  height: 100%;
  background-color: #d5d5d5;
  z-index: -1;
  transform-origin: left bottom;
  transform: skewX(-30deg);
}

.services .box .foot .details {
  text-decoration: none;
  color: var(--main-color);
  padding-right: 20px;
  text-transform: capitalize;
}
/* end services section */

/* start skills section */
.skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.skills .container {
  margin-top: 100px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.skills .image {
  width: 500px;
}

.skills .image img {
  width: 100%;
}

.skills .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills .content .skill .title {
  font-size: 20px;
  margin-bottom: 20px;
}

.skills .content .skill .progress {
  width: 100%;
  height: 30px;
  position: relative;
}

.skills .content .skill .progress::after {
  content: attr(data);
  position: absolute;
  top: -43px;
  right: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: var(--main-color);
  border-radius: 2px;
  border: 1px solid #cccccc;
  z-index: 2;
}

.skills .content .skill .progress span {
  display: inline-block;
  height: 100%;
  background-color: var(--main-color);
}

@media (max-width: 991px) {
  .skills .container {
    display: block;
  }

  .skills .image {
    display: none;
  }

  .skills .content {
    padding-left: 30px;
  }
}
/* end skills section */

/* start how it works section */
.how-work {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--secondary-color);
}

.how-work .container {
  margin-top: 100px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.how-work .image {
  width: calc(50% -20px);
}

.how-work .image img {
  width: 100%;
}

.how-work .content {
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  gap: 20px;
}

.how-work .content .box {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 30px;
  background-color: white;
  border-radius: 5px;
  transition: var(--main-transition);
}

.how-work .content .box:hover {
  background-color: var(--secondary-color);
  box-shadow: 5px 5px 10px #ddd, -5px -5px 10px #ddd;
}

.how-work .content .box .icon img {
  width: 64px;
}

.how-work .content .box .text h4 {
  font-size: 22px;
  margin: 0;
}

.how-work .content .box .text p {
  font-size: 18px;
  margin-top: 10px;
  color: #777977;
  line-height: 1.8;
}

@media (max-width: 991px) {
  .how-work .container {
    flex-direction: column;
  }

  .how-work .image {
    max-width: 100%;
  }

  .how-work .content {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .how-work .box {
    flex-direction: column;
    text-align: center;
  }
}
/* end how it works section */

/* start latest events section */
.events {
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.events > img:first-of-type {
  position: absolute;
  left: 0;
  bottom: 200px;
}

.events > img:last-of-type {
  position: absolute;
  right: 0;
  top: 200px;
}
.events .container {
  margin-top: 100px;
}

.events .content {
  display: flex;
  gap: 20px;
  align-content: start;
}

.events .content .image {
  position: relative;
  width: 40%;
  z-index: 5;
}

.events .content .image img {
  width: 100%;
}

.events .content .box {
  flex: 1;
  text-align: center;
}

.events .content .box .time {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.events .content .box .time div {
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  transition: var(--main-transition);
}

.events .content .box .time div:hover {
  border-color: var(--main-color);
}

.events .content .box .time div:not(:last-of-type) {
  margin-right: 10px;
}

.events .content .box .time .count {
  color: var(--main-color);
  font-size: 35px;
  font-weight: bold;
  padding: 15px 20px;
  margin: 0;
  border-bottom: 1px solid #d4d4d4;
  transition: var(--main-transition);
}

.events .content .box .time div:hover .count {
  border-color: var(--main-color);
}

.events .content .box .time .title {
  font-size: 14px;
  margin: 10px;
}

.events .content .box > h4 {
  font-size: 32px;
  margin-bottom: 20px;
}

.events .content .box > p {
  margin-top: 0;
  color: #808080;
  line-height: 1.8;
  font-size: 18px;
}

.events .subscribe {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.events .subscribe input[type="text"] {
  outline: none;
  border: none;
  width: 400px;
  padding: 20px;
}

.events .subscribe input[type="submit"] {
  padding: 20px;
  font-weight: bold;
  color: white;
  background-color: var(--main-color);
  border: none;
  border-radius: 55px;
  cursor: pointer;
  transition: var(--main-transition);
}

.events .subscribe input[type="submit"]:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background-color: transparent;
}

@media (max-width: 991px) {
  .events .content .image {
    display: none;
  }
}

@media (max-width: 767px) {
  .events .subscribe {
    flex-direction: column;
    align-items: center;
  }

  .events .subscribe input[type="submit"] {
    width: 400px;
    border-radius: 0;
  }
}
/* end latest events section */

/* start pricing section */
.pricing {
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--secondary-color);
}

.pricing > img:first-of-type {
  position: absolute;
  left: 0;
  bottom: 200px;
}

.pricing > img:last-of-type {
  position: absolute;
  right: 0;
  top: 200px;
}
.pricing .container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 40px;
}

.pricing .box {
  position: relative;
  background-color: white;
  text-align: center;
  box-shadow: 5px 5px 10px #ddd, -5px -5px 10px #ddd;
}

@media (min-width: 1199px) {
  .pricing .box:nth-child(2) {
    transform: translateY(-20px);
  }
}

.pricing .box:nth-child(2)::before {
  content: "Most Popular";
  position: absolute;
  left: calc(100% - 20px);
  top: 0;
  width: 140px;
  font-size: 18px;
  padding: 10px 0 10px 10px;
  text-align: start;
  color: white;
  font-weight: bold;
  background-color: var(--main-color);
  transform-origin: left top;
  transform: rotate(90deg);
}

.pricing .box:nth-child(2)::after {
  content: "";
  position: absolute;
  left: calc(100% - 20px - 41px);
  top: 130px;
  width: 41px;
  height: 41px;
  background-color: white;
  transform: rotate(45deg);
}

.pricing .box .title {
  font-size: 25px;
  font-weight: bold;
}

.pricing .box img {
  width: 80px;
  margin-bottom: 30px;
}

.pricing .box .price span {
  font-size: 60px;
  font-weight: bold;
  color: var(--main-color);
}

.pricing .box .price p {
  margin-top: 0;
  color: #777777;
}

.pricing .box .features {
  text-align: start;
  padding: 0;
  margin-left: 20px;
  margin-top: 40px;
}

.pricing .box .features li {
  margin-bottom: 40px;
}

.pricing .box .features li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}

.pricing .box .choose {
  display: inline-block;
  margin-bottom: 40px;
  padding: 15px 20px;
  color: var(--main-color);
  font-weight: bold;
  text-decoration: none;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  transition: var(--main-transition);
}

.pricing .box .choose:hover {
  color: white;
  background-color: var(--main-color);
}
/* end pricing section */

/* start videos section */
.videos {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.videos .container {
  margin-top: 100px;
}

.videos .holder {
  border: 1px solid #e2e2e2;
  display: flex;
}

.videos .holder .list {
  width: 300px;
}

.videos .holder .list .name {
  padding: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.videos .holder .list ul,
.videos .holder .list ul li {
  margin: 0;
  padding: 0;
}

.videos .holder .list ul li a {
  margin: 0;
  display: inline-block;
  width: 100%;
  padding: 20px;
  text-decoration: none;
  border-top: 1px solid #eaeaea;
}

.videos .holder .list ul li a p:first-child {
  margin-top: 0;
  color: black;
  transition: var(--main-transition);
}

.videos .holder .list ul li a:hover p:first-child {
  color: var(--main-color);
}

.videos .holder .list ul li a p:last-child {
  margin-bottom: 0;
  color: #777777;
}

.videos .holder .image {
  flex: 1;
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.videos .holder .image img {
  width: 100%;
}

.videos .holder .image p {
  background-color: white;
  padding: 20px;
  margin: 10px 0 0;
}

@media (max-width: 991px) {
  .videos .holder {
    flex-direction: column;
  }

  .videos .holder .list {
    width: 100%;
  }
}
/* end videos section */

/* start stats section */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.stats .container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.stats .box {
  position: relative;
  text-align: center;
}

.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  transition: 0.75s ease-out;
}

.stats .box::before {
  left: 0;
  top: 0;
}

.stats .box::after {
  right: 0;
  bottom: 0;
}

.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}

.stats .box h4 {
  margin: 15px 0 0;
  font-size: 50px;
}

.stats .box p {
  color: var(--main-color);
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}
/* end stats section */

/* start discount section */
.discount {
  display: flex;
}

.discount .text {
  width: 50%;
  text-align: center;
  color: white;
  padding: 80px;
  background-image: url(../assets/images/discount-background1.jpg);
  background-size: cover;
  position: relative;
  z-index: 1;
}

.discount .text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  opacity: 0.98;
  z-index: -1;
}

.discount .text h4 {
  margin-top: 0;
  font-size: 40px;
  margin-bottom: 30px;
}

.discount .text p {
  margin-top: 0;
  font-size: 18px;
  line-height: 1.8;
}

.discount .text img {
  width: 300px;
}

.discount .form {
  width: 50%;
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
}

.discount .form .content {
  width: fit-content;
}

.discount .form .content h4 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.discount .form .content form {
  display: flex;
  flex-direction: column;
}

.discount .form .content form input[type="text"],
.discount .form .content form textarea {
  border: none;
  outline: none;
  padding: 20px;
  font-size: 16px;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 20px;
}

.discount .form .content form textarea {
  resize: none;
}

.discount .form .content form input[type="submit"] {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: var(--main-color);
  padding: 20px;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}

.discount .form .content form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}

@media (max-width: 991px) {
  .discount {
    flex-direction: column;
  }
  .discount .text,
  .discount .form {
    width: 100%;
  }
}
/* end discount section */

/* start footer section */
.footer {
  background-color: #191919;
  color: white;
}
.footer .container {
  display: grid;
  padding-top: 75px;
  padding-bottom: 75px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .container .text h4 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.footer .container .text .social {
  margin: 20px 0;
  padding-left: 0;
  display: flex;
  gap: 10px;
}

.footer .container .text .social a {
  color: #b9b9b9;
  display: inline-block;
  width: 50px;
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
  background-color: #313131;
  transition: var(--main-transition);
}

.footer .container .text .social a.facebook:hover {
  background-color: #1877f2;
}

.footer .container .text .social a.twitter:hover {
  background-color: #1da1f2;
}

.footer .container .text .social a.youtube:hover {
  background-color: #ff0000;
}

.footer .container .text p {
  color: #b9b9aa;
  line-height: 2;
}

.footer .container .links ul {
  margin: 0;
  padding: 0;
}

.footer .container .links ul li a {
  display: inline-block;
  color: #b9b9aa;
  text-decoration: none;
  width: 100%;
  padding: 15px 0;
  transition: var(--main-transition);
}

.footer .container .links ul li a:hover {
  color: white;
  padding-left: 10px;
}

.footer .container .links ul li:not(:last-child) a {
  border-bottom: 1px solid #b9b9aa;
}

.footer .container .links ul li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  color: var(--main-color);
  margin-right: 10px;
  font-weight: 900;
}

.footer .container .address .line {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.footer .container .address .line i {
  color: var(--main-color);
  font-size: 25px;
  margin-right: 10px;
}

.footer .container .address .line p {
  width: 80%;
  color: #b9b9aa;
  line-height: 1.8;
  margin: 0;
}

.footer .container .images {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-content: start;
}

.footer .container .images .image {
  width: calc(100% / 3 - 5px);
  padding: 3px;
  background-color: white;
}

.footer .container .images .image img {
  width: 100%;
  height: 100%;
}

.footer .rights {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #b9b9aa;
}

.footer .rights span {
  color: var(--main-color);
  font-weight: bold;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
  .footer .social {
    justify-content: center;
  }

  .footer .address .line {
    flex-direction: column;
    align-items: center;
  }
  .footer .address .line i {
    margin: 0 0 10px 0;
  }
}
/* end footer section */
